@media screen and (max-width: 414px){
    /* 載入畫面 */
    .loadingImg {
        width: 30%;
    }

    /* 414w 導覽列 */
    .menu-btn-rwd{
        display: block;
    }

    .navbar-rwd{
        display: block;
    }

    /* Rwd頁首LOGO */
    .rwdLogoLink{
        display: block;
    }

    /* 首頁原導覽列*/
    .top{
        display: none;
    }

     /* 彈跳視窗 */
     .popMemImg,.popImg{
        display: none !important;
    }

    #commPopupId,.popupReg,.popupForget,.popup{
        width: 80% !important;
    }

    .logAndjoinBtnBox{
        flex-direction: column;
    }

    .logAndjoinBtnBox a{
        padding: 10px 0;
    }
    
    /* 彈跳視窗 */
    .popContent .popMemImg{
        display: none;
    }

    .popContent .infoTitle{
        font-size: 20px;
    }

    /* 頁尾 */
    footer{
        background-image: url(../img/footerBg-RWD.jpg) ;
    }

    .footerContent{
        display: flex;
        flex-wrap: wrap;
    }
    .footerLogoLink{
        width: 50px;
        flex-grow: 1;
        border-bottom: 1px solid white;
    }
    .socialMedia{
        width: 50px;
        flex-grow: 1;
        padding-top: 40px;
    }

    .copyRight p{
        width: 80%;
        font-size: 10px;
        margin-bottom: 10px;
    }

    /* 網頁內容 */
    .content{
        width: 80%;
        padding-top: 100px;
    }
    .pagetList .pageListLink{
        font-size: 15px;
    }
    .prodpageWrapper{
        flex-direction: column;
    }
    .leftProdImgWrapper{
        width: 100%;
        flex-grow: 0;
    }

    .swiper.mySwiper2{
        height: 300px;
    }
    .swiper-slide img{
        height: 80%;
        transform: translatey(20px);
    }
    .swiper-thumbs{
        width: auto;
    }

    .swiper-slide.thumb img{
        transform: translateY(0px);
    }
    /* .prodOtherSideBox{
        display: flex;
    }
    .prodOtherSideBox button{
        height: 54px;
        width: 54px;
        margin-right: 10px;
    }
    .prodOtherSideBox img{
        height: 40px;
        width: 40px;
    } */

    .prodTitle{
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #000;
    }
    .prodPrice{
        text-align: center;
    }
    .rightprodinfor{
        width: 100%;
        flex-grow: 0;
    }

    .DetailBoxs{
        height: auto;
        padding-bottom: 20px;
    }

    .accessoriesProducts{
        flex-direction: column;
    }

    .titleLines{
        display: none;
    }

    .accessoriesTitle{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .accessoriesTitleContent{
        flex-grow: 1;
        text-align: center;
    }
}