@media screen and (max-width: 414px){
    .loadingImg {
        width: 30%;
    }

    .top{
        display: none;
    }

    .wrapper .topBanner{
        height: auto;
    }

    .topTitle{
        display: none;
    }

    .swiper{
        flex-grow: 1;
        height: 30em;
    }

    .swiper-slide{
        width: 100%;
    }
}