@import url(reset.css);


body{
    background-image: url(../img/bodyBg.jpg);
    line-height: 1.6;
    font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC";
    overflow: auto !important;
    scrollbar-width:auto !important;
}

.wrapper{}

/* 載入中畫面 */
#loading_block{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/loadingBg.jpg);
    background-size: cover;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
}
.hide {
    animation: slide-up .5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
from {
    transform: translateY(0);
    opacity: 1;
}
to {
    transform: translateY(-110%);
    opacity: .7;
}
}

.loadingImg {
    width: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 導覽列的初始樣式 */
.navbar-rwd {
    display: none;
    position: fixed;
    top: 0;
    right: -250px; /* 導覽列往左移出畫面 */
    width: 250px;
    height: 100%;
    transition: right 0.3s ease-in-out;
    z-index: 8000;
    background-image: url(../img/navbar-rwd.jpg);
    overflow-y: scroll;
  }
  
  /* 導覽列內的連結樣式 */
  .navbar-rwd ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-rwd li {
      margin: 0;
      padding: 0;
    font-size: 1.6rem;
    line-height: 3rem;
    transition: all 0.3s ease;
  }
  
  /* .navbar-rwd li.active {
    font-size: 2rem;
    line-height: 4rem;
  } */
  
  .navbar-rwd a{
    display: block;
    padding: 20px 0;
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px dashed #ddd;
    filter:drop-shadow( -5px 0px 5px rgba(0, 0, 0, 0.4));
  }
  
  .navbar-rwd i{
      margin-right: 10px;
      color: #ffffff;
  }
  
  .upButt{
      padding: 20px 0;
      margin: 0 20px;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      /* filter:drop-shadow( -5px 0px 5px rgba(0, 0, 0, 0.4)); */
  }
  
  .upButt i{
      margin-right: 10px;
      color: #ffffff;
  }
  
  .navbar-rwd li:hover {
    background-color: #000000;
  }
  
  /* 漢堡列按鈕的樣式 */
  .menu-btn-rwd {
    display: none;
      background: white;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      position: fixed;
      top: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      z-index: 8500;
  }
  
  .bar-rwd {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
  }
  
  /* 漢堡列按鈕的動畫效果 */
  .menu-btn-rwd.open .bar-rwd:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .menu-btn-rwd.open .bar-rwd:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn-rwd.open .bar-rwd:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  /* 導覽列展開後的樣式 */
  .navbar-rwd.open {
    right: 0; /* 導覽列滑入畫面 */
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .searchForm{
      display: flex;
      justify-content: space-between;
  }  


/* 414w 導覽&LOGO&頁首標題 */
.rwdLogoLink{
    display: none;
}

.rwdLogo{
    border: 0;
    background: #ffffff00;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    z-index: 8000; 
}

.rwdLogo img{
    width: 100%;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.4));
}

.rwdTitle{
    display: none;
    width: 50%;
    position: absolute;
    top: 270px;
    right: 20px;
    z-index: 2; 

    color: white;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.rwdTitle h1{
    font-weight: bold;
    font-size: 30px;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.rwdTitle h2,.rwdTitle h3{
    font-weight: normal;
    font-size: 20px;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.rwdTitle p{
    color: #cacaca;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
    padding-bottom: 5px;
}

/* ----------- 回到最上面按鈕 ----------- */
.scroll-to-top-button{
    display: none;
    border: 0;
    background: #ffffff00;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    z-index: 5000; 
    filter: drop-shadow(0 0px 1px rgba(0, 0, 0, .7));
}

.scroll-to-top-button i{
    font-size: 50px;
    color: #ffffff;
}
/* -----------Header----------- */
/* ----------- 上面ICON跟LOGO ----------- */
.top{
    background-image: url(../img/topBg.jpg);
    background-position: center center;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.top .allTopMenu{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

.allTopMenu .topMenu{
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.allTopMenu .actionMenu{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    min-width: 280px;
    margin: 0 10px;
}

.allTopMenu .actionMenu .actionMenuLi{
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
}

.allTopMenu .topMenu .actionMenu:nth-child(3){
    justify-content: flex-end;
}

.actionMenu .actionMenuLi a{
    font-size: 20px;
}

.actionMenu .actionMenuLi .language{
    display: flex;
}
.actionMenuLi button:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.language:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.language .languageSpan{
    font-size: 14px;
    display: block;
    margin-left: 5px;
}

.actionMenu .searchForm{
    display: flex;

}

.searchForm .searchInput{
    display: block;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    color: white;
    transition: all 1s ease-in;
}

.search .searchInput::placeholder{
    color: #d1d1d1;
    font-size: 16px;
}

.actionMenu .search .searchButton{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}


.searchForm:hover > .searchInput{
    width: 110px;
    border-bottom: 1px solid #fffb;
    transition: all 1s ease-out;
}

.searchForm:hover > a{
    opacity: .7;
    transition: all .1s ease-out;
}

.topLogo{
    transition: all .1s ease-in;
}

.topLogo:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.upButt{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* ----------- 下面MENU ----------- */
.allTopMenu .mainMenu{
    width: 100%;
    padding-top: 5px;
}

.mainMenu .mainMenuLi{
    font-size: 20px;
    line-height: 20px;
}

.mainMenuLi:hover > .mainMenuA{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-out;
}

.mainMenu .mainMenuUl{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;

    justify-content: space-between;
}

.mainMenuLi .mainMenuA{
    padding: 15px 20px;
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.mainMenuLi .mainMenuDropOl{
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 7em;
    opacity: 0;
    transition: all .2s ease-out;
    visibility: hidden;
    z-index: 1000;
}

.mainMenuLi:hover .mainMenuDropOl{
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-out;
}

.mainMenuDropLi .mainMenuDropA{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 40px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all .2s ease-out;
}

.mainMenuDropLi .mainMenuDropA:hover{
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.top a{
    text-decoration: none;
    color: white;
}

/* ----------頁首橫幅---------- */
.wrapper .topBanner{
    background: linear-gradient(90deg, #555, #838383, #555);
    /* background-color: #555555; */
    height: calc(45% - 300px);
    width: 100%;
    align-items: center;
    display: flex;
    box-sizing: border-box;

    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
}

/* ----------- 頁首輪播 ----------- */
.swiper{
    width: 60%;
    height: 100%;
    display: flex;
    /* transform: translate(-12.5vw); */
    justify-self: flex-start;
    margin-left: 0 !important;
    margin-right: 0 !important;
    z-index: 0 !important;
}

.swiper-slide.rwd{
    display: none;
}

.swiper .swiper-slide img{
    background-size: contain !important;
    background-position: center !important;
}

.slideImg-rwd{
    display: none;
}

.swiper-pagination{
    margin-bottom: 20px !important;
}
.swiper-pagination .swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 5px;
    border-radius: 0;

}

.swiper-pagination-bullet .swiper-pagination-bullet-active{
    background-color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

.topTitle{
    color: white;
    height: 100%;
    box-sizing: border-box;
    display: block;
    line-height: 1.6;
    padding: 20px;
    margin:0;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));

    position: relative;
}
.topTitle .bigTitle{
    border-bottom: 1px solid white;
}
.topTitle h1{
    display: block;
    font-size: 5em;
    font-style: bold;
}
.topTitle h2{
    display: block;
    font-size: 3em;
    font-style: bold;
    flex-grow: 1;
}
.topTitle h3{
    display: block;
    font-size: 1.5em;
}

.topTitle p{
    display: block;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}
.keysWrapper{
    position: absolute;
    top: 20em;
    right: -5em;
}

.topKeys{
    width: 50%;
}

/* ----------- 頁首標題和影片 ----------- */
.topVideoWrapper{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.topVideoWrapper .topVideoBuble{
    display: block;
    background-image: url("../img/topbuble.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    width: 100%;
    height: 15em;
    margin: 0 auto;

    transform: translateY(-1.5%);
    z-index: 1001;
}

.topVideoBuble .topVideoWords{
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    padding-top: .5em;
}

.topVideo{
    width: 60em;
    height: 35em;
    margin: 0 auto;
    transform: translateY(-1.5vw);
}

.topVideo .topYoutube{
    width: 100%;
    height: 100%;
}

/* ----------- 復古全罩 ----------- */
.helmetWrapper{}

.helmetWrapper .helmetContent{
    width: 75%;
    margin: 0 auto;
}

.helmetContent .helmetTitle{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 20px;
}

.helmetTitle .titleLines{
    width: 30%;
    height: 100%;
    margin: auto 0;
}

.helmetTitle .helmetTitleContent{
    font-size: 3em;
}

.helmetContent .helmetProducts{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content:space-between ;
    padding: 10px 0;

    border-radius: 5px;
}

.helmetProducts .helmetCard{
    background-color:  rgba(255, 255, 255, 0.3);
    transition: all .2s ease-in;
    
    width: 100%;
    flex-grow: 1;
}

.helmetCard .helmetLink{
    text-decoration-line: none;
    color: black;

    position: relative;
    overflow: hidden;
}

.helmetCard:hover{
    border-radius: 5px;
    transition: all .2s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.helmetLink .helImgWrapper{
    height: 300px;
    width: 300px;
    margin: 0 auto;

    position: relative;
}

.helImgWrapper .helImgs{
    display: block;
    margin:auto;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    transform-origin: center center; 
}


.helImgWrapper .helImgs:hover{
    transform: scale(1.2);
    /* background-color: black; */
}

.helmetCard .helDesc{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

.helmetCard .helTitle{
    font-weight: bold;
    font-size: 1.2em;
}

.helmetCard .helPrice{
    font-size: 1em;
}

.helmetContent .accessoriesMore{
    display: block;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px auto;
    color: #ffffff;
    padding-bottom: 20px;
}

.accessoriesMore .accessoriesMoreLink{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.accessoriesMore:hover > .accessoriesMoreLink{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all .2s ease-out;
}

/* ----------- 周邊配件 ----------- */
.accessoriesWrapper{}

.accessoriesWrapper .accessoriesContent{
    width: 75%;
    margin: 0 auto;
}

.accessoriesContent .accessoriesTitle{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 20px;
}

.accessoriesTitle .titleLines{
    width: 30%;
    height: 100%;
    margin: auto 0;
}

.accessoriesTitle .accessoriesTitleContent{
    font-size: 3em;
}

.accessoriesContent .accessoriesProducts{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content:space-between ;
    padding: 10px 0;
    border-radius: 5px;
    /* overflow: hidden; */
}

.accessoriesProducts .accessoriesCard{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all .2s ease-in;
    flex-grow: 1;
}

.accessoriesCard .accessoriesLink{
    text-decoration-line: none;
    color: black;

    position: relative;
    overflow: hidden;
}

.accessoriesCard:hover{
    border-radius: 5px;
    transition: all .2s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.accessoriesLink .accImgWrapper{
    height: 250px;
    width: 300px;
}

.accImgWrapper .accImgs{
    display: block;
    margin:auto;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    transform-origin: center center;
}


.accImgWrapper .accImgs:hover{
    transform: scale(1.2);
}

.accessoriesCard .accDesc{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

.accessoriesCard .accTitle{
    font-weight: bold;
    font-size: 1.2em;
}

.accessoriesCard .accPrice{
    font-size: 1em;
}

.accessoriesContent .accessoriesMore{
    display: block;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px auto;

    padding-bottom: 20px;
}

.accessoriesMore .accessoriesMoreLink{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: linear-gradient(180deg, #696969 0%, #383838 100%);
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.accessoriesMore:hover > .accessoriesMoreLink{
    background: linear-gradient(180deg, #000000 0%, #000000 100%);
    color: white;
    transition: all .2s ease-out;
}

/* ----------- 頁尾 ----------- */
.beforeFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.beforeFooter .beforeFooterItiems{
    width: 75%;
    margin: 0 auto;
}

.beforeFooter .boforeFooterGods{
    font-family: 'Mr Dafoe', cursive;
    font-size: 40px;
    text-align: center;
}

footer{
    background-image: url(../img/footerbg.jpg);
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    box-sizing: border-box;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px 0 !important;
    margin-top: 20px !important;
}

footer .footerContent{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.footerContent .footerLogo{
    margin-bottom: 20px;
}

.footerLogo:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.footerContent .socialMedia{
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.socialMedia .socialMediaIcon{
    margin: 0 10px;
}

.socialMedia a:hover > img{
    opacity: .7;
    transition: all .1s ease-out;
}

.footerContent .copyRight{
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
