@import url(reset.css);

body{
    background-image: url(../img/bodyBg.jpg);
    line-height: 1.6;
    font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC";

}

.wrapper{}

/* -----------Header----------- */
/* ----------- 上面ICON跟LOGO ----------- */
.top{
    background-image: url(../img/topBg.jpg);
    background-position: center center;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.top .allTopMenu{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

.allTopMenu .topMenu{
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.allTopMenu .actionMenu{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    min-width: 280px;
    margin: 0 10px;
}

.allTopMenu .actionMenu .actionMenuLi{
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
}

.allTopMenu .topMenu .actionMenu:nth-child(3){
    justify-content: flex-end;
}

.actionMenu .actionMenuLi a{
    font-size: 20px;
}

.actionMenu .actionMenuLi .language{
    display: flex;
}
.language:hover{
    opacity: .7;
    transition: all .1s ease-out;
}
.actionMenuLi button:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.language .languageSpan{
    font-size: 14px;
    display: block;
    margin-left: 5px;

}

.actionMenu .searchForm{
    display: flex;

}

.searchForm .searchInput{
    display: block;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    color: white;
    transition: all 1s ease-in;
}

.search .searchInput::placeholder{
    color: #d1d1d1;
    font-size: 16px;
}

.actionMenu .search .searchButton{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}


.searchForm:hover > .searchInput{
    width: 110px;
    border-bottom: 1px solid #fffb;
    transition: all 1s ease-out;
}

.searchForm:hover > a{
    opacity: .7;
    transition: all .1s ease-out;
}

.topLogo{
    transition: all .1s ease-in;
}

.topLogo:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.actionMenuLi .upButt{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* ----------- 下面MENU ----------- */
.allTopMenu .mainMenu{
    width: 100%;
    padding-top: 5px;
}

.mainMenu .mainMenuLi{
    font-size: 20px;
    line-height: 20px;
}

.mainMenuLi:hover > .mainMenuA{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-out;
}

.mainMenu .mainMenuUl{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;

    justify-content: space-between;
}

.mainMenuLi .mainMenuA{
    padding: 15px 20px;
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.mainMenuLi .mainMenuDropOl{
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 7em;
    opacity: 0;
    transition: all .2s ease-out;
    visibility: hidden;
    z-index: 1000;
}

.mainMenuLi:hover .mainMenuDropOl{
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-out;
}

.mainMenuDropLi .mainMenuDropA{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 40px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all .2s ease-out;
}

.mainMenuDropLi .mainMenuDropA:hover{
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.top a{
    text-decoration: none;
    color: white;
}
/* ----------- 頁尾 ----------- */
.beforeFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
}

.beforeFooter .beforeFooterItiems{
    width: 75%;
    margin: 0 auto;
}

.beforeFooter .boforeFooterGods{
    font-family: 'Mr Dafoe', cursive;
    font-size: 40px;
    text-align: center;
}

footer{
    background-image: url(../img/footerbg.jpg);
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    box-sizing: border-box;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px 0 !important;
    margin-top: 20px !important;
}

footer .footerContent{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.footerContent .footerLogo{
    margin-bottom: 20px;
}

.footerLogo:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.footerContent .socialMedia{
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.socialMedia .socialMediaIcon{
    margin: 0 10px;
}

.socialMedia a:hover > img{
    opacity: .7;
    transition: all .1s ease-out;
}

.footerContent .copyRight{
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}


/* ----------- 標題Banner -----------
.topBanner{
    width: 100%;
    height: 400px;
    background-image: url("../img/recommBanner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset -10px 10px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
}

.bannerBox{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
}

.bannerTitleLineBox{
    height: 64px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.bannerTitleLineBoxUp{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.bannerTitleLineBoxMid{
    height: 50%;
    width: 100%;
}

.bannerTitleLineBoxDown{
    height: 100%;
    width: 100%;
    border-top: 3px solid #ffffff;
}

.bannerTitle{
    font-size: 64px;
    color:white;
    margin:0 40px;
    font-family: 'Rye', cursive;
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.25));
    width: 100%;
    text-align: center;
} */

/* ----------- 網頁內容 ----------- */
.content{
    width: 75vw;
    margin: 0 auto;
    padding-top: 50px;
}

.headConent{
    height: 400px;
    margin: 0 auto;
}

.headConent .building{
    font-size: 60px;
    text-align: center;
    animation: building 2s ease-in-out forwards;
}

@keyframes building{
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}
