@import url(reset.css);

body{
    background-image: url(../img/bodyBg.jpg);
    line-height: 1.6;
    font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC";

}

.wrapper{}
/* 載入中畫面 */
#loading_block{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/loadingBg.jpg);
    background-size: cover;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
}
.hide {
    animation: slide-up .5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
from {
    transform: translateY(0);
    opacity: 1;
}
to {
    transform: translateY(-110%);
    opacity: .7;
}
}

.loadingImg {
    width: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 導覽列的初始樣式 */
.navbar-rwd {
    display: none;
    position: fixed;
    top: 0;
    right: -250px; /* 導覽列往左移出畫面 */
    width: 250px;
    height: 100%;
    transition: right 0.3s ease-in-out;
    z-index: 8000;
    background-image: url(../img/navbar-rwd.jpg);
    overflow-y: scroll;
  }
  
  /* 導覽列內的連結樣式 */
  .navbar-rwd ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-rwd li {
      margin: 0;
      padding: 0;
    font-size: 1.6rem;
    line-height: 3rem;
    transition: all 0.3s ease;
  }
  
  .navbar-rwd li.active {
    font-size: 2rem;
    /* line-height: 4rem; */
  }
  
  .navbar-rwd a{
    display: block;
    padding: 20px 0;
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px dashed #ddd;
    filter:drop-shadow( -5px 0px 5px rgba(0, 0, 0, 0.4));
  }
  
  .navbar-rwd i{
      margin-right: 10px;
      color: #ffffff;
  }
  
  .upButt{
      padding: 20px 0;
      margin: 0 20px;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      /* filter:drop-shadow( -5px 0px 5px rgba(0, 0, 0, 0.4)); */
  }
  
  .upButt i{
      margin-right: 10px;
      color: #ffffff;
  }
  
  .navbar-rwd li:hover {
    background-color: #000000;
  }
  
  /* 漢堡列按鈕的樣式 */
  .menu-btn-rwd {
    display: none;
      background: white;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      position: fixed;
      top: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      z-index: 8500;
  }
  
  .bar-rwd {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
  }
  
  /* 漢堡列按鈕的動畫效果 */
  .menu-btn-rwd.open .bar-rwd:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .menu-btn-rwd.open .bar-rwd:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn-rwd.open .bar-rwd:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  /* 導覽列展開後的樣式 */
  .navbar-rwd.open {
    right: 0; /* 導覽列滑入畫面 */
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .searchForm{
      display: flex;
      justify-content: space-between;
  }  


/* 414w 導覽&LOGO&頁首標題 */
.rwdLogoLink{
    display: none;
}

.rwdLogo{
    border: 0;
    background: #ffffff00;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    z-index: 8000; 
}

.rwdLogo img{
    width: 100%;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.4));
}

.rwdTitle{
    display: none;
    width: 50%;
    position: absolute;
    top: 270px;
    right: 20px;
    z-index: 2; 

    color: white;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.rwdTitle h1{
    font-weight: bold;
    font-size: 30px;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.rwdTitle h2,.rwdTitle h3{
    font-weight: normal;
    font-size: 20px;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
}

.rwdTitle p{
    color: #cacaca;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.7));
    padding-bottom: 5px;
}

/* ----------- 回到最上面按鈕 ----------- */
.scroll-to-top-button{
    display: none;
    border: 0;
    background: #ffffff00;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    z-index: 5000; 
    filter: drop-shadow(0 0px 1px rgba(0, 0, 0, .7));
}

.scroll-to-top-button i{
    font-size: 50px;
    color: #ffffff;
}
/* -----------Header----------- */
/* ----------- 上面ICON跟LOGO ----------- */
.top{
    background-image: url(../img/topBg.jpg);
    background-position: center center;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.top .allTopMenu{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

.allTopMenu .topMenu{
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.allTopMenu .actionMenu{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    min-width: 280px;
    margin: 0 10px;
}

.allTopMenu .actionMenu .actionMenuLi{
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
}

.allTopMenu .topMenu .actionMenu:nth-child(3){
    justify-content: flex-end;
}

.actionMenu .actionMenuLi a{
    font-size: 20px;
}

.actionMenu .actionMenuLi .language{
    display: flex;
}
.language:hover{
    opacity: .7;
    transition: all .1s ease-out;
}
.actionMenuLi button:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.language .languageSpan{
    font-size: 14px;
    display: block;
    margin-left: 5px;

}

.actionMenu .searchForm{
    display: flex;

}

.searchForm .searchInput{
    display: block;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    color: white;
    transition: all 1s ease-in;
}

.search .searchInput::placeholder{
    color: #d1d1d1;
    font-size: 16px;
}

.actionMenu .search .searchButton{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}


.searchForm:hover > .searchInput{
    width: 110px;
    border-bottom: 1px solid #fffb;
    transition: all 1s ease-out;
}

.searchForm:hover > a{
    opacity: .7;
    transition: all .1s ease-out;
}

.topLogo{
    transition: all .1s ease-in;
}

.topLogo:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.actionMenuLi .upButt{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* ----------- 下面MENU ----------- */
.allTopMenu .mainMenu{
    width: 100%;
    padding-top: 5px;
}

.mainMenu .mainMenuLi{
    font-size: 20px;
    line-height: 20px;
}

.mainMenuLi:hover > .mainMenuA{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-out;
}

.mainMenu .mainMenuUl{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;

    justify-content: space-between;
}

.mainMenuLi .mainMenuA{
    padding: 15px 20px;
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.mainMenuLi .mainMenuDropOl{
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 7em;
    opacity: 0;
    transition: all .2s ease-out;
    visibility: hidden;
    z-index: 1000;
}

.mainMenuLi:hover .mainMenuDropOl{
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-out;
}

.mainMenuDropLi .mainMenuDropA{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 40px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all .2s ease-out;
}

.mainMenuDropLi .mainMenuDropA:hover{
    border-bottom: 1px solid white;
    transition: all .2s ease-out;
}

.top a{
    text-decoration: none;
    color: white;
}
/* ----------- 頁尾 ----------- */
.beforeFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.beforeFooter .beforeFooterItiems{
    width: 75%;
    margin: 0 auto;
}

.beforeFooter .boforeFooterGods{
    font-family: 'Mr Dafoe', cursive;
    font-size: 40px;
    text-align: center;
}

footer{
    background-image: url(../img/footerbg.jpg);
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    box-sizing: border-box;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px 0 !important;
    margin-top: 20px !important;
}

footer .footerContent{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.footerContent .footerLogo{
    margin-bottom: 20px;
}

.footerLogo:hover{
    opacity: .7;
    transition: all .1s ease-out;
}

.footerContent .socialMedia{
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.socialMedia .socialMediaIcon{
    margin: 0 10px;
}

.socialMedia a:hover > img{
    opacity: .7;
    transition: all .1s ease-out;
}

.footerContent .copyRight{
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}


/* ----------- 標題Banner ----------- */
.topBanner{
    width: 100%;
    height: 400px;
    background-image: url("../img/productsBanner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: inset -10px 10px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
}

.bannerBox{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
}

.bannerTitleLineBox{
    height: 64px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.bannerTitleLineBoxUp{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.bannerTitleLineBoxMid{
    height: 50%;
    width: 100%;
}

.bannerTitleLineBoxDown{
    height: 100%;
    width: 100%;
    border-top: 3px solid #ffffff;
}

.bannerTitle{
    text-align: center;
    font-size: 64px;
    color:white;
    margin:0 40px;
    font-family: 'Rye', cursive;
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.25));
    width: 100%;
}


/* ----------- 內容 ----------- */

a{
    text-decoration: none;
}

.content{
    width: 75%;
    margin: 0 auto;
    padding: 20px 0 50px; 
}

/* 導覽列 */
.headConent{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.pageList{
    display: flex;
    color: #999;
    font-size: 20px;
    padding: 20px 0;
}
/* .pageList::after{
    content: '';
    position: absolute;
    left: 200px;
    bottom: 140px;
    width: 150px;
    border-bottom: 1px solid #979797;
} */

.pageList .pageListLink{
    text-decoration: none;
    color: #999;
    font-size: 20px;
    font-weight: bold;
}

.pageList .pageSpace{
    display: block;
    color: #999;
    font-size: 20px;
    margin: 0 10px;
}

.pageListLink:hover{
    color: black;
}


/* 網頁內容 */
.prodsWrapper{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

/* 左邊導覽列 */
.leftNav{
    width: 20%;
    padding: 25px 23px 0;
}

.leftNavLi{
    width: 80%;
    color: #333;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    transition: all .2s ease-out;
}

.leftNavA{
    display: block;
    width: 100%;
    height: 100%;
    color: #212121;
}

.leftNavLi:hover{
    background-color: black;
    color: white;
}

.leftNavLi:hover > a{
    color: white;
}

/* 右邊商品列表 */
.rightProds{
    width: 78%;
    padding: 25px 23px 0;
    box-sizing: border-box;
    
}

.prodsTitle{
    width: 100%;
}

.prodsTitleH1{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.prodsRow{
    display: flex;
    flex-wrap: wrap;
}

.prodsCard{
    display: block;
    /* grow/shrink/basis */
    /* flex: 1 0 calc(33.33% - 20px); */
    padding: 10px;
    width: 31.24%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.prodsCard:hover{
    transition: all .2s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.prodsImg{
    width: 70%;
    transition: all 0.3s ease;
    transform-origin: center center;
}

.prodsImg:hover{
    transform: scale(1.2);
}

.prodsDec{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #000;
}

.prodsH2{}

.prodsP{}