@import url(reset.css);

/* ----------- 整體設定 ----------- */

body{
    /* background-image: url('../popImg/popBg.jpg'); */
    width: 100%;
    line-height: 1.6;
    font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC";
    margin: 0;
    padding: 0;

}
.modal{
    /* display: none; */
    opacity: 0;
    transition: all 1s ease;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: -2;
}

.-modal_style{
    opacity: 1;
    z-index: 9990;
}

.popup{
    width: 60%;
    padding: 0;
    border: 0;
    margin: 0 auto;
    border-radius:15px;
    opacity: 0;
    transition: all .3s ease;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
    

    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}

.-popup_style{
    opacity: 1;
    top:2em;
    z-index: 9999;
}

.popupwrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url('../img/popBg.jpg');
    border-radius:15px;
    box-sizing: border-box;
    overflow: hidden;

}

/* ----------- 頁首頁尾 ----------- */
.popupwrapper .popHeader{
    display: block;
    width: 100%;
    height: 5em;
    background-image: url('../img/popHeadBg.jpg');
}
.closeWrapper{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.popupwrapper .popFooter{
    display: block;
    width: 100%;
    height: 2em;
    background-image: url('../img/popFootBg.jpg');
}

/* 頁首關閉按鈕 */
.closeWrapper .btnClose{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 0 20px;
    cursor: pointer;
}

.btnClose .bi{
    font-size: 30px;
    color: white;
}

.btnClose:hover{
    opacity: .4;
}

/* ----------- 網頁內容 ----------- */
.popupwrapper .popContent{
    width: 100%;
    height: 100%;
    display: flex;
    
}
/* ==================== 會員彈窗 ==================== */
/* ----------- 右圖內容 ----------- */
.popContent .popMemImg{
    width: 40%;
    display: block;
    background-image: url('../img/rightImg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    flex-grow: 1;
    order: 2;
}
.popContent .popMemBg{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

}
.popMemBg img{
    text-align: center;
    width: 80%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}

/* ----------- 左邊內容 ----------- */
.popContent .memContent{
    width: 40%;
    padding: 5px 50px;
    flex-grow: 1;
}
.remContent .msgform{}

.msgform .msgCloseButton{}

.msgform .msgPersonInfo{}

.msgPersonInfo .infoTitle{
    font-weight: bolder;
    font-size: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.msgPersonInfo .infoDesc{
    margin: 5px 0;
    padding-bottom: 5px;
    font-size: 16px;
}
.inputTitle{
    font-weight: bold;
    font-size: 20px;
}

.msgPersonInfo .msginput{
    width: 100%;
    height: 35px;
    padding: 0 5px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #000;
}

.msginput:focus{
    /* border: 0; */
    /* border-bottom: 1px solid #000; */
}

.msgform .wrongInfo{
    color: rgb(173, 0, 0);
    font-size: 16px;
    line-height: 16px;
}


.msgform .msgComment{
    margin-bottom: 10px;
}

.msgComment .textMsg{
    width: 100%;
    height: 90px;
    padding: 2px 5px;
    white-space: normal;
    text-align: left;
    border: 0;
    resize: none;
    border-bottom: 1px solid #000;
}

.textMsg:focus{
    /* border: 0; */
}

.textMsg::placeholder {
    text-align: left;
    vertical-align: top;
    white-space: normal;
}

/* ----------- 記住我&忘記密碼 ----------- */
.memContent .remberAndForget{
    display: flex;
    justify-content: space-between;
}

.remberAndForget .remberMe{}

.remberMe input[type="radio"] {
    display: none;
}

.remberMe input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 2px solid #4e4e4e;
    border-radius: 50%;
}

.remberMe input[type="radio"]:checked + label:before {
    background-color: #000000;
}

.forgetP a{
    color: black;
}

.forgetP:hover a{
    opacity: .4;
}
/* ----------- 送出按鈕 ----------- */

.msgform .submitWrapper{
    display: flex;
    height: 50px;
    padding: 10px;
    
}

.msgform .sendBtn{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: white;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border-radius: 50px;
    box-shadow: none;
    cursor: pointer;
}

.msgform .sendBtn:hover{
    background-color: black;
    border: 0;
    
}

/* 加入會員 */
.joinWrapper{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.joinWrapper .join{
    /* margin: 0 auto; */
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.join:hover{
    opacity: .4;
}

/* ----------- 隱私權設定 ----------- */
.newsAndPolicy input[type="radio"] {
    display: none;
}

.newsAndPolicy input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 2px solid #4e4e4e;
    border-radius: 50%;
}

.newsAndPolicy input[type="radio"]:checked + label:before {
    background-color: #000000;
}

.policy{
    color: black;
}

.policy:hover{
    opacity: .4;
}

/* ----------- 送出下的按鈕 ----------- */
.afterSendWrapper{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.afterSendWrapper a{
    /* margin: 0 auto; */
    text-align: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.afterSendWrapper a:hover{
    opacity: .4;
}
/* 返回登入跟加入會員 */
.logAndjoinBtnBox{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logAndjoinBtnBox a{
    /* margin: 0 auto; */
    text-align: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.logAndjoinBtnBox a:hover{
    opacity: .4;
}